<nav class="main">
    <div class="name">
        James Lian
    </div>
    <ul class="desktopUl">
        <a href="/"><li>Overview</li></a>
        <a href="https://jaameslian.github.io/aboutme"><li>About Me</li></a>
        <a href="https://jaameslian.github.io/experiences"><li>Experiences</li></a>
    </ul>
    <span id="mobileMenu" class="mobileMenu material-symbols-outlined">
        menu
        </span>
    <div class="mobileUl" id="mobileUlClose">
        <ul class="container">

        </ul>
    </div>
</nav>